@use 'tailwindcss/base';
@use 'tailwindcss/utilities';
@use 'tailwindcss/components';
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
}

.social-media-button,
.navigate-projects-button {
  padding: 0;
  width: 34px;
  height: 34px;
}

.navigate-projects-button {
  background-color: var(--dark);
}
