@use 'tailwindcss/base';
@use 'tailwindcss/utilities';
@use 'tailwindcss/components';
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
}

.social-media-button,
.navigate-projects-button {
  padding: 0;
  width: 36px;
  height:  36px;
}

.layout-card {
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 1;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
    border-radius: 30px;
    opacity: 0.25;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(120deg, rgb(255 255 255 / 12%), rgb(255 255 255 / 1%));
    border-radius: 30px;
    margin: -1px;
  }
}
