@use 'tailwindcss/base';
@use 'tailwindcss/utilities';
@use 'tailwindcss/components';
@use './variables.scss';

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
}
