:root {
  --primary: #393939;
  --secondary: #ffed4a;
  --accent: #38c172;
  --neutral: #6c757d;
  --base: #ffffff;
  --info: #17a2b8;
  --success: #28a745;
  --warning: #ffc107;
  --error: #dc3545;
  --background: #f9f9f9;
  --foreground: #2d3748;
}
